.detail-principale{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
}
.test{
    width: 80%;
    display: flex;
}

.test2{
    width: 50px;
    display: flex;
    gap: 10%;
    & svg {
        width: 25px;
    }
}

.imgdetail2{
    width: 350px;
    height: 500px;
}

.detail-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.detail-ligne{
    height: 1px;
    width: 100%;
    background-color: hsl(300, 1%, 34%);
}


.detail-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.detail-header h1{
    font-size: 2rem;
}

.detail-header h2{
    font-size: 1.5rem;
}

.detail-header p{
    font-size: 1.2rem;
}

.detail-header img{
    width: 300px;
    height: 450px;
}


.detail-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 20px;
    text-align: justify;

}


